<h1>Posts Lisiting page</h1>

<table>
  <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
  </thead>

<tbody>
     <% @posts.each do|post|%>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td>PlaceHolder</td>
      </tr>
    <% end %>
  </tbody>
</table>