<h1>Articles Lisiting page</h1>

<table>
  <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
  </thead>

  <tbody>
      <tr>
        <td>title</td>
        <td>description</td>
        <td>placeholder</td>
      </tr>
  </tbody>
</table>