@import "bootstrap";

body {
  background-color: #f0f2f5 !important;
}

.login {
  margin-top: 145px;
  position: flex;
}

.brand-text {
  color: #3077f2;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bolder;
  font-size: 3.4rem !important;
  margin-bottom: 0 !important;
  letter-spacing: -2.7px;
}

.login-slogan {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
}

.login-text {
  font-size: 1.1rem;
}

.container {
  height: auto;
  margin-bottom: 5rem;
}

.card {
  height: auto !important;
  border-radius: 0.5rem !important;
}
