<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul>
      <li id="left">
        <a><%= link_to 'Facebook', root_path %></a>
      </li>
      <li class="right">
         <a><%= link_to 'Posts listing', posts_path %></a>
      </li>
      <li class="right">
         <a><%= link_to 'About page', about_path %></a>
      </li>
  </ul>
</nav>